* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrap {
    height: 100%;
    width: 100%;   
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-wrap {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 12% auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    border: 1px solid gray;
    padding: 5px;
    overflow: hidden;
}



.social-icons img {
    width: 30px ;
    cursor: pointer;
}
.input-group {
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid gray;
    color: black; 
    outline: none;
    background: transparent;
}
.submit {
     width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid gray;
}

.button {
     width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid gray;
}





.submit-1{
    padding: 25px;
}

#register {
    left: 50px;
} 